---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <address>
      {{- site.data[page.lang].post.by -}} {%- for author_ref in page.authors
      -%} {%- unless forloop.first -%} {%- if forloop.last %} et {% else -%}, {%
      endif -%} {%- endunless -%} {%- assign author = site.authors | where:
      'ref', author_ref | where: 'lang', page.lang | first -%}
      <a rel="author" href="{{ author.url }}">{{ author.name }}</a>
      {%- endfor -%}
    </address>
    <p class="post-time">
      {{ site.data[page.lang].post.published -}}{%- include {{ page.lang |
      append: '/time.html' }} class="dt-published" date=page.date
      itemprop="datePublished" -%}{%- if page.updated_at %} - {{
      site.data[page.lang].post.updated -}}{%- include {{ page.lang | append:
      '/time.html' }} class="dt-modified" date=page.updated_at
      itemprop="dateModified" -%}{%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  <footer>
    <p>
      <a href="https://twitter.com/search?q={{ page.url | absolute_url }}">
        {{ site.data[page.lang].post.discuss_on_twitter }}
      </a>
      /
      <a
        href="https://github.com/rocambille/rocambille.github.io/edit/main/{{ page.path}}"
      >
        {{ site.data[page.lang].post.edit_on_github }}
      </a>
    </p>
  </footer>
</article>
